


<!-- 标签定义区域-->





<!-- JAVABEAN定义区域-->




<html lang="zh">
<!-- HEAD区域-->
<head><base href="http://scitech.dgut.edu.cn/business/unit/researchUnitSearch.jsp">
	<TITLE></TITLE>
	<base href="http://scitech.dgut.edu.cn/business/unit/researchUnitSearch.jsp">
</head>
<!-- CSS引用区域-->
<link href="../../css/css_default/css.css" rel="stylesheet" type="text/css" />
<!-- JAVASCRIPT 区域 -->
<script Language="JavaScript" src="../../script/pub.js"></script>
<script language="JavaScript" src="../../script/My97DatePicker/WdatePicker.js" defer="defer"></script>
<script type="text/javascript" src="../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="../../script/jquery/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="../../script/jquery/jquery.fancybox-1.3.4.css" media="screen" />
	<script>
	var propertys="";
    var msg="";
	var datePropertys="@createDate&>=,@createDate&<=";
	var dateMsg="成立日期,成立日期";
	//页面表单提交
	function submitForm(method){		
        document.researchUnitForm.actionType.value = method;        
        if(  document.researchUnitForm.actionType.value != "search"){
           	document.forms[0].submit();	
        }else if(onsubmit()){
	 		document.forms[0].submit();	  
	 	} 
	}
	
	//简单查询页面的非查询提交
	function popAdd(){
    	document.researchUnitForm.actionType.value = "popQueryOptions";
    	document.researchUnitForm.submit();
	}
	$().ready(function() {
		$("#various").fancybox({
			'width'				: '105%',
			'height'			: '105%',
			'autoScale'			: true,
			'transitionIn'		: 'none',
			'transitionOut'		: 'none',
			'type'				: 'iframe'
		});
	});
	</script>
	
<body>
<form name="researchUnitForm" method="post" action="/business/unit/researchUnit.do">
  <input type="hidden" name="actionType" value="initSearch">
  <input type="hidden" name="pageType" value="search">
<!-- 检查年度查询时是否正确标识 -->
<input type="hidden" name="dateFlag" value="false"/>
<div class="maintitle">研究机构查询</div>
<div class="mainbg">

<div id="headtitle">
<div id="pagemenu">
<ul>
	<li><a href="javascript:submitForm('search')">查 询</a></li><li><a href="javascript:searchFormClear()" >清 空</a></li><li><a href="javascript:submitForm('list')" >返 回</a></li>
</ul>
</div>
<div id="footer"></div>
</div>
<FIELDSET>
	<LEGEND>【基本信息】</LEGEND>
		<table id="table" cellspacing="0" cellpadding="0" align="center">
			<tr>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>机构名称：</td>
	<td class='list' colspan=3 rowspan=1><div id='researchUnit.name'> <input type='text' name='@name&like'  id='@name&like' size=50 value=""   maxLength = '100' ></div></td>
</tr>
<tr>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>机构编号：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.code'> <input type='text' name='@code'  id='@code' size=0 value=""   maxLength = '64' ></div></td>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>负责人：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.charger'> <input type='text' name='@charger&like'  id='@charger&like' size=0 value=""   maxLength = '40' ></div></td>
</tr>
<tr>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>挂靠单位：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.upUnitId'></div></td>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>学科门类：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.subjectClassId'>	<input type='radio' name='@subjectClassId' value='' checked='checked' onclick="popAdd()">所有
	<input type='radio' name='@subjectClassId' value='2'  onclick="popAdd()">科技类
	<input type='radio' name='@subjectClassId' value='1'  onclick="popAdd()">社科类

</div></td>
</tr>
<tr>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>是否统计：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.staTypeId'>	<input type='radio' name='@staTypeId' value='' checked='checked' onclick="popAdd()">所有
	<input type='radio' name='@staTypeId' value='0'  onclick="popAdd()">否
	<input type='radio' name='@staTypeId' value='1'  onclick="popAdd()">是

</div></td>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>一级学科：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.subjectId'>
			<select name='@subjectId'  onClick='beforeSelectPrompt("subjectClassId")'  onchange="popAdd()">
				<option value='' >请先选择:学科门类</option>
			</select></div></td>
</tr>
<tr>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>机构级别：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.levelId'>	<input type='radio' name='@levelId' value='' checked='checked' >所有
	<input type='radio' name='@levelId' value='1'  >国家级
	<input type='radio' name='@levelId' value='2'  >省部级
	<input type='radio' name='@levelId' value='3'  >地厅级
	<input type='radio' name='@levelId' value='4'  >学校级

</div></td>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>电话：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.tel'> <input type='text' name='@tel'  id='@tel' size=0 value=""   maxLength = '128' onkeypress="phoneOnly()" , onchange="phoneOnly2(this)"></div></td>
</tr>
<tr>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>传真：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.fax'> <input type='text' name='@fax'  id='@fax' size=0 value=""   maxLength = '128' onkeypress="phoneOnly()" , onchange="phoneOnly2(this)"></div></td>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>地址：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.address'> <input type='text' name='@address'  id='@address' size=0 value=""   maxLength = '255' ></div></td>
</tr>
<tr>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>邮编：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.postalCode'> <input type='text' name='@postalCode'  id='@postalCode' size=0 value=""  maxlength="6" onkeypress="intOnly()"  onblur="intOnly2(this)"></div></td>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>Email：</td>
	<td class='list' colspan=1 rowspan=1 width='35%'><div id='researchUnit.email'> <input type='text' name='@email'  id='@email' size=0 value=""   maxLength = '128' ></div></td>
</tr>
<tr>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>网址：</td>
	<td class='list' colspan=3 rowspan=1><div id='researchUnit.website'> <input type='text' name='@website'  id='@website' size=0 value=""   maxLength = '128' ></div></td>
</tr>
<tr>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>成立日期：</td>
	<td class='list' colspan=3 rowspan=1><div id='researchUnit.createDate'><span id='createDate_Select' style='display:none;'>
			<select name='@createDate&>='  disabled >
				<option value='' >--请选择--</option>
				<option value='2019' >2019</option>
				<option value='2018' >2018</option>
				<option value='2017' >2017</option>
				<option value='2016' >2016</option>
				<option value='2015' >2015</option>
				<option value='2014' >2014</option>
				<option value='2013' >2013</option>
				<option value='2012' >2012</option>
				<option value='2011' >2011</option>
				<option value='2010' >2010</option>
				<option value='2009' >2009</option>
				<option value='2008' >2008</option>
				<option value='2007' >2007</option>
				<option value='2006' >2006</option>
				<option value='2005' >2005</option>
				<option value='2004' >2004</option>
				<option value='2003' >2003</option>
				<option value='2002' >2002</option>
				<option value='2001' >2001</option>
				<option value='2000' >2000</option>
				<option value='1999' >1999</option>
				<option value='1998' >1998</option>
				<option value='1997' >1997</option>
				<option value='1996' >1996</option>
				<option value='1995' >1995</option>
				<option value='1994' >1994</option>
				<option value='1993' >1993</option>
				<option value='1992' >1992</option>
				<option value='1991' >1991</option>
				<option value='1990' >1990</option>
			</select> 到 
			<select name='@createDate&<='  disabled >
				<option value='' >--请选择--</option>
				<option value='2019' >2019</option>
				<option value='2018' >2018</option>
				<option value='2017' >2017</option>
				<option value='2016' >2016</option>
				<option value='2015' >2015</option>
				<option value='2014' >2014</option>
				<option value='2013' >2013</option>
				<option value='2012' >2012</option>
				<option value='2011' >2011</option>
				<option value='2010' >2010</option>
				<option value='2009' >2009</option>
				<option value='2008' >2008</option>
				<option value='2007' >2007</option>
				<option value='2006' >2006</option>
				<option value='2005' >2005</option>
				<option value='2004' >2004</option>
				<option value='2003' >2003</option>
				<option value='2002' >2002</option>
				<option value='2001' >2001</option>
				<option value='2000' >2000</option>
				<option value='1999' >1999</option>
				<option value='1998' >1998</option>
				<option value='1997' >1997</option>
				<option value='1996' >1996</option>
				<option value='1995' >1995</option>
				<option value='1994' >1994</option>
				<option value='1993' >1993</option>
				<option value='1992' >1992</option>
				<option value='1991' >1991</option>
				<option value='1990' >1990</option>
			</select><input name='dateScope_@createDate' type=checkBox  onclick=changeDateDisplay(this,'@createDate')>范围<a href="javaScript:yearDateChange('createDate','Input')">按日期 </a></span> <span id='createDate_Input' > <input type='text' name='@createDate&>='  id='@createDate&>=' size=12 value=""   class="Wdate"  onclick="WdatePicker()" onChange="checkInputDate(this)"> 到  <input type='text' name='@createDate&<='  id='@createDate&<=' size=12 value=""   class="Wdate"  onclick="WdatePicker()" onChange="checkInputDate(this)"><a href="javaScript:yearDateChange('createDate','Select')">按年度</a></span></div></td>
</tr>
<tr>
	<td class='tdrowhead' colspan=1 rowspan=1 width='15%'>是否实体机构：</td>
	<td class='list' colspan=3 rowspan=1><div id='researchUnit.entityFlag'>	<input type='radio' name='@entityFlag' value='' checked='checked' >所有
	<input type='radio' name='@entityFlag' value='0'  >否
	<input type='radio' name='@entityFlag' value='1'  >是

</div></td>
</tr>
<input type='hidden' name='@l03' value=''><input type='hidden' name='@kindId' value=''><input type='hidden' name='@unitForm' value=''><input type='hidden' name='@l17' value=''><input type='hidden' name='@unitTypeId' value=''><input type='hidden' name='@typeId' value=''><input type='hidden' name='@l01' value=''>
	  	</table>
</FIELDSET>





 


<FIELDSET>
<LEGEND>【排序条件】</LEGEND>
	<table id="table" cellspacing="0" cellpadding="0" align="center">
		<tr>
   		<td height="23" class="list" width="15%">
			<select name="queryBean.orderField"><option value="">--请选择--</option>
<option value="name">机构名称</option>
<option value="code">机构编号</option>
<option value="charger">负责人</option>
<option value="upUnitId">挂靠单位</option>
<option value="subjectClassId">学科门类</option>
<option value="staTypeId">是否统计</option>
<option value="subjectId">一级学科</option>
<option value="levelId">机构级别</option>
<option value="typeId">机构类别</option>
<option value="kindId">机构性质</option>
<option value="unitTypeId">机构类型</option>
<option value="l17">服务的国民经济行业</option>
<option value="l01">批准部门</option>
<option value="l03">组成形式</option>
<option value="tel">电话</option>
<option value="fax">传真</option>
<option value="address">地址</option>
<option value="postalCode">邮编</option>
<option value="email">Email</option>
<option value="website">网址</option>
<option value="createDate">成立日期</option>
<option value="entityFlag">是否实体机构</option>
<option value="zclx">组成类型</option>
</select></td>
		<td height="23" class="list" width="85%" colspan="3">
			<input type="radio" name="queryBean.orderType" value="desc">
				降序
			<input type="radio" name="queryBean.orderType" value="asc">
				升序
		</td></tr>
  	</table>
</FIELDSET>
     

      

<div id="headtitle">
 <div class="footer">
       <ul class="footer_1">
			<li><a href="javascript:submitForm('search')">查 询</a></li><li><a href="javascript:searchFormClear()" >清 空</a></li><li><a href="javascript:submitForm('list')" >返 回</a></li>
		</ul>
	</div>
</div>

</div>
</form>
</body>
</html>
